@font-face {
font-family: "Merriweather"; 
src: url("../fonts/Merriweather/Merriweather-700.ttf") format("truetype"); 
font-style: normal; 
font-weight: 700; 
} 

@font-face {
font-family: "Merriweather"; 
src: url("../fonts/Merriweather/Merriweather-900.ttf") format("truetype"); 
font-style: normal; 
font-weight: 900; 
} 

@font-face {
font-family: "Roboto"; 
src: url("../fonts/Roboto/Roboto-300.ttf") format("truetype"); 
font-style: normal; 
font-weight: 300; 
} 

@font-face {
font-family: "Roboto"; 
src: url("../fonts/Roboto/Roboto-400.ttf") format("truetype"); 
font-style: normal; 
font-weight: 400;
} 

@font-face {
font-family: "Roboto"; 
src: url("../fonts/Roboto/Roboto-500.ttf") format("truetype"); 
font-style: normal; 
font-weight: 500; 
} 

@font-face {
font-family: "Roboto"; 
src: url("../fonts/Roboto/Roboto-700.ttf") format("truetype"); 
font-style: normal; 
font-weight: 700; 
} 

@font-face {
font-family: "Roboto"; 
src: url("../fonts/Roboto/Roboto-900.ttf") format("truetype"); 
font-style: normal; 
font-weight: 900; 
} 
 

@font-face {
font-family: "PTSerif"; 
src: url("../fonts/PTSerif/PTSerif-700.ttf") format("truetype"); 
font-style: normal; 
font-weight: 700; 
} 

